@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  @apply bg-background text-text;
}

@layer components {
  .glass-btn {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .glass-btn:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
